// variables colores de la pagina
$color-lightBlue: #FB852E;
$color-darkBlue: #01022E;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-green:#0AA8CE;
$color-lightGreen: #E3FBD8;
$color-pink:#FF649E;
$color-yellow: #FFBB00;
$color-lightGrey: #00000029;
$color-medium-section: #F0F0F0;
$color-darkGrey: #808080;
$color-purple: #FB852E;

// Variables tamaño de fuente
$font-size-15: 15px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-27: 27px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-35: 35px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-45: 45px;
$font-size-72: 72px;
$font-size-80: 80px;




